{% block body %}
        <div class="btn-group-lg" role="group">

            {# Boutons définis dans le entiteType#}
            {% if edit_form.btn_update is defined %}
                {{ form_widget(edit_form.btn_update) }}

            {% endif %}

            {% if edit_form.btn_create is defined %}
                {{ form_widget(edit_form.btn_create) }}
            {% endif %}

           <a class="btn btn-default" href="/film">Retour Liste</a>




            {# Boutons définis dans un form indépendant #}
            {# Ils doivent donc être placés hors du form de l'entité #}
            {% if retour_form is defined %}
               {{ form(retour_form) }}
            {% endif %}

            {% if delete_form is defined %}
               {#{{ form(delete_form) }}#}
            {% endif %}
        </div>

    {#{{ dump(retour_form) }}#}
{% endblock %}