{% extends '::base.html.twig' %}

{% block body %}
    <h1> {{ statut_creation==true ? 'Creation' : 'Modification' }} Film</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger" role="alert">
        {{ flashMessage }}
    </div>
    {% endfor %}


    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        {{ form_label(edit_form.titre) }}
                        {{ form_errors(edit_form.titre) }}
                        {{ form_widget(edit_form.titre) }}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        {{ form_label(edit_form.description) }}
                        {{ form_errors(edit_form.description) }}
                        {{ form_widget(edit_form.description) }}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {{ form_label(edit_form.libelle) }}
                    {{ form_errors(edit_form.libelle) }}
                    {{ form_widget(edit_form.libelle) }}
                </div>
                <div class="col-md-2"></div>
            </div>


            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    {{ form_label(edit_form.langue) }}
                    {{ form_errors(edit_form.langue) }}
                    {{ form_widget(edit_form.langue) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(edit_form.notefilm) }}
                    {{ form_errors(edit_form.notefilm) }}
                    {{ form_widget(edit_form.notefilm) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(edit_form.notevideo) }}
                    {{ form_errors(edit_form.notevideo) }}
                    {{ form_widget(edit_form.notevideo) }}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    {{ form_label(edit_form.genre) }}
                    {{ form_errors(edit_form.genre) }}
                    {{ form_widget(edit_form.genre) }}
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    {{ form_label(edit_form.spectateur) }}
                    {{ form_errors(edit_form.spectateur) }}
                    {{ form_widget(edit_form.spectateur) }}
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    {{ form_label(edit_form.gravee) }}
                    {{ form_errors(edit_form.gravee) }}
                    {{ form_widget(edit_form.gravee) }}
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    {{ form_label(edit_form.duree) }}
                    {{ form_errors(edit_form.duree) }}
                    {{ form_widget(edit_form.duree) }}
                </div>

                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    {{ form_label(edit_form.fichier) }}
                    {{ form_errors(edit_form.fichier) }}
                    {{ form_widget(edit_form.fichier) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(edit_form.codec) }}
                    {{ form_errors(edit_form.codec) }}
                    {{ form_widget(edit_form.codec) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(edit_form.image) }}
                    {{ form_errors(edit_form.image) }}
                    {{ form_widget(edit_form.image) }}
                </div>
                <div class="col-md-3"></div>
            </div>
            <hr>

            {#S'assurer que les champs cachés sont bien passés (Jeton..)#}
            {{ form_rest(edit_form) }}
            {#Inclusion des boutons#}
            {% include 'DomiFilmBundle:Film:boutons.html.twig' %}
        </div>
    </div>
    {#{{ dump() }}#}


{% endblock %}
